/* Banner CSS */
.banner {
	margin-top: 0;
	padding: 260px 0 100px 0;
	background-image: url("src/assets/img/banner-bg.webp");
	background-position: top center;
	background-size: cover;
	background-repeat: no-repeat;
}

.banner .tagline {
	font-weight: 700;
	letter-spacing: 0.8px;
	padding: 8px 10px;
	background: linear-gradient(
		90.21deg,
		rgba(170, 54, 124, 0.5) -5.91%,
		rgba(74, 47, 189, 0.5) 111.58%
	);
	border: 1px solid rgba(255, 255, 255, 0.5);
	font-size: 20px;
	margin-bottom: 16px;
	display: inline-block;
}

.banner .about {
	height: 12rem;
}

.banner .about h1 {
	font-size: 3rem;
	font-weight: 700;
	letter-spacing: 0.8px;
	line-height: 1;
	display: block;
	margin-bottom: 20px;
}

.banner p {
	color: #b8b8b8;
	font-size: 16px;
	letter-spacing: 0.8px;
	line-height: 1.5em;
	width: 96%;
}

.banner a {
	color: #fff;
	font-weight: 700;
	font-size: 20px;
	margin-top: 60px;
	letter-spacing: 0.8px;
	display: flex;
	align-items: center;
	z-index: 10;
}

.banner a svg {
	font-size: 25px;
	margin-left: 10px;
	transition: 0.3s ease-in-out;
	line-height: 1;
}

.banner a:hover svg {
	margin-left: 25px;
}

.banner div > img {
	animation: updown 3s linear infinite;
}

@keyframes updown {
	0% {
		transform: translateY(-20px);
	}
	50% {
		transform: translateY(20px);
	}
	100% {
		transform: translateY(-20px);
	}
}

.txt-rotate > .wrap::after {
	content: "\00a0";
	background: #cecece;
	opacity: 1;
}

.txt-rotate > .wrap.animate::after {
	content: "\00a0";
	animation: blink 800ms infinite;
	background: #cecece;
	opacity: 1;
}

@keyframes blink {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

@media (min-width: 992px) {
	.banner .about h1 {
		font-size: 4rem;
	}
	.banner p {
		font-size: 18px;
	}
}
